<link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"
/>

<link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
/>

<link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.css"
    rel="stylesheet"
/>
<section class="h-100" style = 'background-color : #004019;'>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img
                                src = "https://assets-global.website-files.com/60a0ade9a9e15bdd6b98f68b/60d5dbf12e61d241489c30b1_spotify-for-artists.jpg"
                                alt="Sample photo"
                                class="img-fluid"
                                style="
                                border-top-left-radius: 0.25rem;
                                border-bottom-left-radius: 0.25rem;
                                height: 100%;
                                width : 100%
                                "
                            />
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body p-md-5 text-black">
                                <h3 class="mb-5 text-uppercase">Album Creation form</h3>
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label for="name">name</label>
                                            <input
                                                type="text"
                                                id="name"
                                                class="form-control form-control-lg"
                                                style = 'border : 1px solid black'
                                                />
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label for="cost">Cost</label>
                                            <input
                                            type="text"
                                            id="cost"
                                            class="form-control form-control-lg"
                                            style = 'border : 1px solid black'
                                            />
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label for="releasing">Releasing Time</label>
                                            <input
                                                type="datetime-local"
                                                id="releasing"
                                                class="form-control form-control-lg"
                                                style = 'border : 1px solid black'
                                                />
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label for="artist">Artist Stage Name</label>
                                            <input
                                            type="text"
                                            id="artist"
                                            class="form-control form-control-lg"
                                            style = 'border : 1px solid black'
                                            />
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end pt-3">
                                    <button type="button" class="btn bg-success btn-lg ms-2 text-dark" id = 'create-btn'>
                                        Create Album
                                    </button>
                                </div>
                                <div class="d-flex justify-content-end pt-3">
                                    <a class="btn btn-info btn-lg ms-2 text-dark" href="http://127.0.0.1:8000/artists" role="button">Show Artists</a>
                                </div>
                                <div class="col-md-6 mb-4" id = 'status'>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script> 
const btn = document.getElementById('create-btn')
const name = document.getElementById("name");
const cost = document.getElementById("cost");
const artist = document.getElementById("artist");
const releasing = document.getElementById("releasing")
const status = document.getElementById('status')


btn.addEventListener('click' , ()=> {

    console.log('hola')

    fetch("http://127.0.0.1:8000/albums/create/", {
        method: "POST",
        headers: {
            Accept: "application/json", 
            "Content-Type": "application/json",
        },
        body: JSON.stringify({'name':name.value , 'cost': cost.value ,'releaseDateTime' : releasing.value , 'stageName':artist.value}),
        })
        .then((response) => response.json())
        .then((response) => {
            
            if (response.status === 'OK')
                {
                    status.innerHTML = "created successfully"
                    status.style = 'color : green;'
                }
            else if (response.status === 'validation error')
                {
                    status.innerHTML = 'validation error'
                    status.style = 'color : red;'
                }
            else 
            {
                    status.innerHTML = 'something went wrong'
                    status.style = 'color : red;'
                }

    });
})</script>
